html, body {

}
.content {
    width: 592px;
    display: block;
    position: relative;
}
.title {

}
.accordion {
    width: 592px;
    height: 420px;
    border: 1px solid #595959;
}
.section {
    width: 571px;
    /*height: 38px;*/
    cursor: pointer;
    background: #f6f6f6;
    border: 1px solid #595959;
    border-radius: 3px;
    margin: 2px 0 0 7px;
    padding: 1px 1px 1px 2px;
}
.section:hover {
    background: #a6a6a6;
    /*visibility: visible;*/
}
.section.active:hover {
    background: #0C7FF2;
}
.section-button {
    /*height: 100%;*/
    display: flex;

    padding: 5px 10px;
    /*background: #c0c0c0;*/
    cursor: pointer;
}
.section-img {
    padding: 8px 0 0 15px;
}
.section-title {
    padding: 7px 0 0 2px;
}
.section-content {
    padding: 10px;
    /*border-bottom: 1px solid #c0c0c0;*/
    margin-bottom: 5px;
    display: none;
}
.active {
    border: 2px solid #000000;
    background: #0C7FF2;
}
.show {

}
