html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: sans-serif;
	overflow: auto;
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
}
a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
}
li {
  float:left; /*Размещаем список горизонтально для реализации меню*/
  margin-right: 25px; /*Добавляем отступ у пунктов меню*/
}
.block {
	position: relative;
	margin: 0 auto;
	width: 100%;
	/*max-width: 1170px;*/
	min-width: 320px;
}
.header{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 30px 0 30px;
}
.menu {
	margin: 0 auto 0 0;
}
.icon {
	display: none;
	cursor: pointer;
	position: absolute;
}
.bar1, .bar2, .bar3 {
	width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
@media (max-width: 840px) {
		.menu {
			display: none;
			position: absolute;
			flex-direction: column;
			margin: 0 auto 0 0;
			background-color: #54d225;
			width: 118px;
			top: 40px
		}
		.menu_icon {
			display: flex;
		}
		.icon {
			display: block;
		}
	}
.m_a {
	color: #ffffff;
	font-size: 15px;
}
.logo {
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.search {
	margin: 0 0 0 auto;
	position: relative;
	
}
.header-search {
	border-radius: 20px;
	font-size: 15px;
	box-sizing: border-box;
	padding: 4px 12px;
	opacity: 0.5;
	width: 177px;
	outline: none;
    border: none;
}
.lupa {
	position: absolute;
	right: 10px;
	top: 7px;
}
.banner{
	background: url("../images/background.png") no-repeat center bottom;
	background-size: cover;
	height: 659px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner-title{
	color: #ffffff;
	margin: auto auto 0 auto;
	font-size: 55px;
	letter-spacing: 1.5px;
	padding-top: 52px;
	text-align: center;
}
.banner-button {
	margin: 28px auto 0 auto;
	border-radius: 30px;
	background-color: #54d154;
	color: #ffffff;
	width: 208px;
	font-size: 20px;
	box-sizing: border-box;
	padding: 11px 0 11px 0;
	outline: none;
    border: none;
    transition: all 500ms ease;
}
.banner-button:hover {
	background-color: #000080;
}
.banner-button:active {
	background-color: #800000;
}
.down{
	margin: auto auto 10px auto;
	background-color: #ffffff;
	border-radius: 20px;
	color: #000000;
	padding: 4px 7px 4px 9px;
	opacity: 0.5;
	font-size: 16px;
	box-sizing: border-box;
	width: 120px;
	position: relative;
}
.arrow {
	position: absolute;
	right: 16px;
	top: 8px;
}
/*============= WHAT ============*/
.what {
	width: 100%;
}
.what-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.what-title {
	text-align: center;
	color: #828181;
	width: 174px;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 3.0px;
	margin: 40px auto 6px auto;
	padding: 0px 0px 0px 0px;
}
.what-l {
	width: 43px;
	height: 2px;
	background-color: #828181;
	display: block;
	margin: 0 auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.what-text {
	color: #b7b3b3;
	/*width: 508px;*/
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.26px;
	margin: 10px auto auto auto;
	padding: 0px 0px 0px 0px;
}
.lorem-all {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	/*height: 408px;*/
	box-sizing: border-box;
	margin: 69px auto 0px auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.lorem {
	width: 266px;
	min-width: 320px;
	margin: 0 27px;
	padding: 0px 0px 0px 0px;
}
.lorem-title {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.26px;
	color: #828181;
	padding: 0px 0px 0px 0px;
	margin: 21px auto 0 auto;
}
.forma-fon{
	width: 145px;
	height: 145px;
	background: #e1f3e1;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 0px 0px 0px 0px;
	display: flex;
	border-radius: 30px;
	transition: 1s;
}
.forma {
	margin: auto auto auto auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.text-wrap {
	overflow: hidden;
	transition: 1s;
	height: 72px;
	background: #ffffff;
	position: relative;
	padding-top: 16px; 
}
.text {
	color: #828181;
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
    /*padding-top: 16px;*/
}
.lorem-button{
	margin: 7px auto 72px auto;
	border-radius: 30px;
	background-color: #54d154;
	color: #ffffff;
	width: 120px;
	font-size: 16px;
	font-weight: 700;
	box-sizing: border-box;
	padding: 7px 0 7px 0;
	outline: none;
    border: none;
    transition: all 500ms ease;
}
.lorem-button:hover {
	background-color: #000080;
}
.lorem-button:active {
	background-color: #800000;
}
.disabled.lorem-button {
	background-color: #808080; /*gray сірий*/
	transition: none;
}
.active .forma-fon {
	margin-bottom: -166px;
	background: #ffffff;
}
.active .text-wrap {
	height: 238px;
}
.lorem_2 {
	margin: 0 auto 0 auto;
	padding: 0px 0px 0px 0px;
}
.lorem_3 {
	margin: 0 auto 0 auto;
	padding: 0px 0px 0px 0px;
}
/*================ OUR LATEST WORK ===============*/
.work {
	width: 100%;
	background: #54d154;
}
.work-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.work-title {
	color: #207b20;
	/*width: 251px;*/
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 3.0px;
	margin: 38px auto 8px auto;
	padding: 0px 0px 0px 0px;
}
.work-l {
	width: 43px;
	height: 2px;
	background-color: #207b20;
	display: block;
	margin: 0 auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.work-text {
	color: #2b9b2b;
	/*width: 508px;*/
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.26px;
	margin: 10px auto auto auto;
	padding: 0px 0px 0px 0px;
}
.PDP {
	display: flex;
	justify-content: center;
	margin: 57px auto 0 auto;
}
.All {
	margin: 0 0 0 auto;
	border-radius: 30px 0px 0px 30px;
	background-color: #ffffff;
	color: #2b9b2b;
	width: 50px;
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
	padding: 7px 0 7px 0;
	outline: none;
    border: 1px solid #2b9b2b;
}
.Photography {
	margin: 0 0 0 0;
	background-color: #ffffff;
	color: #2b9b2b;
	width: 120px;
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
	padding: 7px 0 7px 0;
	outline: none;
    border: 1px solid #2b9b2b;
    border-left: none;
}
.Design {
	margin: 0 0 0 0;
	background-color: #ffffff;
	color: #2b9b2b;
	width: 90px;
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
	padding: 7px 0 7px 0;
	outline: none;
    border: 1px solid #2b9b2b;
    border-left: none;
}
.Print {
	margin: 0 auto 0 0;
	border-radius: 0px 30px 30px 0px;
	background-color: #ffffff;
	color: #2b9b2b;
	width: 67px;
	font-size: 16px;
	font-weight: 400;
	box-sizing: border-box;
	padding: 7px 0 7px 0;
	outline: none;
    border: 1px solid #2b9b2b;
    border-left: none;
}
.akt-button {
	background-color: #2b9b2b;
	color: #ffffff;
	transition: 0.3s;
}
.about-picture-all {
	display: none;
	position: fixed;
	justify-content: center;
	background-color: #101010d1;
	z-index: 9000;
	top: 0;
	width: 100%;
	height: 100%;
	left: auto;
	right: auto;
	margin: auto;
	/*transform: translateY(-50%);*/
}
.about-picture {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}
.about-picture1 {
	position: absolute;
}
.about-button-picture {
	display: flex;
	position: absolute;
	right: 0;
	margin: 0px 0px 0px auto;
	opacity: 0;
}
.about-button-picture:hover {
	opacity: 1;
	transition: all 500ms;
}
/*=============================*/
.about-all-img {
	display: flex;
	width: 100%;
	transform: translateX(25%);
}
.about-img {
	text-align: center;
	min-width: 50%;
}
.picture-img-button {
	width: 320px;
	height: 320px;
}
.picture-img-button1 {
	position: relative;
	width: 320px;
	height: 320px;
	margin: auto;
	z-index: 100;
}
.picture-img-button2 {
	width: 320px;
	height: 320px;
}
/*=============================*/
.about-button1 {
	position: absolute;
	top: calc(50% - 12px);
	left: 0;
	opacity: 0;
}
.about-button2 {
	position: absolute;
	top: calc(50% - 12px);
	right: 0;
	opacity: 0;
}
.about-button1:hover, .about-button2:hover {
	opacity: 1;
	transition: all 500ms;
}
.about-button1:active, .about-button2:active {
	opacity: 0;
	transition: all 500ms;
}
	/*======================================================*/
.pictures {
	/*display: none;*/
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 41px 105px 0 105px;
}
.picture {
	margin: 15px 15px 15px 15px;
	overflow: hidden;
	display: none;
}
.picture-img {
	
	transition: 1s;
	display: block;
}
.akt {
	display: flex;
}
.picture-img:hover {
	transform: scale(1.2);
}
.view-botton {
	display: flex;
	justify-content: center;
	margin: 40px auto 0 auto;
}
.view-work {
	margin: auto auto 53px auto;
	background-color: #2b9b2b;
	border-radius: 30px;
	color: #ffffff;
	padding: 10px 7px 10px 18px;
	/*opacity: 0.5;*/
	font-size: 18px;
	font-weight: 400;
	box-sizing: border-box;
	width: 186px;
	position: relative;
	transition: all 500ms ease;
}
.view-work:hover {
	background-color: #000080;
}
.view-work:active {
	background-color: #800000;
}
.arrow-left {
	position: absolute;
	right: 18px;
	top: 15px;
}
/*============== TESTIMONIALS ==============*/
.testi-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.testi-title {
	color: #828181;
	text-align: center;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 3.0px;
	margin: 35px auto 6px auto;
	padding: 0px 0px 0px 0px;
}
.testi-l {
	width: 43px;
	height: 2px;
	background-color: #828181;
	display: block;
	margin: 0 auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.testi-text {
	color: #b7b3b3;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.26px;
	margin: 10px auto auto auto;
	padding: 0px 0px 0px 0px;
}
.Awalnya {

}
.Awalnya-text {
	width: 484px;
	color: #444444;
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.26px;
	margin: 68px auto auto auto;
	padding: 0px 0px 0px 0px;
}
.herp {
	display: flex;
	justify-content: center;
	margin: 16px 0px 61px 0px;
	padding: 0px 0px 0px 0px;
}
.herp-fon {
	width: 42px;
	height: 42px;
	border: 2px solid #e1e1e1;
	background: #ffffff;
	/*text-align: center;*/
	margin: 0 0 0 auto;
	padding: 0px 0px 0px 0px;
	display: flex;
	border-radius: 42px;
}
.herp-img {
	width: 30px;
	height: 32px;
	margin: auto auto auto auto;
	padding: 0px 0px 0px 0px;
}
.herp-title {
	margin: 0px auto 0 0;
	padding: 5px 0px 0px 8px;
}
.herp-title-1 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.26px;
	color: #444444;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 0 0px;
}
.herp-title-2 {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.26px;
	color: #cccccc;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 0 auto;
}
/*============== OUR HAPPY CLIENT ==============*/
.happy {
	width: 100%;
	background: #f2f1f1;
}
.happy-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.happy-title {
	color: #828181;
	text-align: center;
	font-size: 21px;
	font-weight: 300;
	letter-spacing: 3.4px;
	margin: 33px auto 9px auto;
	padding: 0px 0px 0px 0px;
}
.happy-l {
	width: 43px;
	height: 2px;
	background-color: #828181;
	display: block;
	margin: 0 auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.happy-text {
	color: #b7b3b3;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.26px;
	margin: 10px auto auto auto;
	padding: 0px 0px 0px 0px;
}
.logo-pictures-all {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	/*width: 960px;*/
	margin: 66px 105px 0 105px;
}
.logo-pictures {
	width: 240px;
	display: flex;
	justify-content: center;
	/*margin-top: 44px;*/
	margin: 0px 0px 50px 0px;
}
.logo-p {
	margin: auto;
}
/*.logo-pictures-all {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 66px auto 0 auto;
}
.logo-pictures {
	width: 240px;
	display: flex;
	justify-content: center;
	margin-top: 44px;
}
.logo {
	margin: auto;
}*/
/*=================================*/
.Google-logo {
	width: 143px;
	margin: -5px 0 0 0;
}
.Yahoo-logo {
	width: 140px;
	margin: 0 0 0 0;
}
.MSFT-logo {
	width: 144px;
	margin: 0 0 0 0;
}
.Intel-logo {
	width: 103px;
	margin: -17px 0 0 0;
}
.Qualcom-logo {
	width: 151px;
	margin: 0 0 0 0;
}
.Cisco-logo {
	width: 125px;
	margin: 0 0 0 0;
}
.Apple-logo {
	width: 55px;
	margin: 0 0 0 0;
}
.Intel-logo {
	width: 116px;
	margin: 0 0 0 0;
}
/*==========================================*/
.see-botton {
	display: flex;
	justify-content: center;
	margin: 0px auto 0 auto;
}
.see-all {
	background-color: #dddcdc;
	border-radius: 30px;
	color: #a59d9d;
	margin: auto auto 61px auto;
	padding: 10px 7px 10px 31px;
	/*opacity: 0.5;*/
	font-size: 18px;
	font-weight: 400;
	box-sizing: border-box;
	width: 186px;
	position: relative;
transition: all 500ms ease;
}
.see-all:hover {
	background-color: #000080;
}
.see-all:active {
	background-color: #800000;
}
.arrow-left-l {
	position: absolute;
	right: 18px;
	top: 15px;
}
/*============== MEET THE TEAM ==============*/
.meet {
	width: 100%;
	background: #54d154;
}
.meet-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.meet-title {
	color: #207b20;
	font-size: 21px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 3.4px;
	margin: 33px auto 9px auto;
	padding: 0px 0px 0px 0px;
}
.meet-l {
	width: 43px;
	height: 2px;
	background-color: #207b20;
	display: block;
	margin: 0 auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.meet-text {
	color: #2b9b2b;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.26px;
	margin: 6px auto auto auto;
	padding: 0px 0px 0px 0px;
}
.team-all {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 51px 164px 0px 164px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.team {
	width: 124px;
	margin: 0 auto 63px auto;
	padding: 0px 0px 0px 0px;
}
.team-title {
	font-size: 16px;
	font-weight: 5                                                                                                                                                                             00;
	letter-spacing: 0.26px;
	color: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 5px auto 0 auto;
}
.team-img {
	margin: 0px auto auto 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.Meat-img {

}
.team-l {
	color: #207b20;
	margin: 6px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.team-button-fon {
	width: 84px;
	background-color: #c5e9c5;;
	border-radius: 14px;
	margin: 10px auto 0px auto;
	padding: 4px 0px 0px 0px;
}
.meet-work {
	width: 100%;
	height: 92px;
	background: #3eba3e;
	display: flex;
	justify-content: center;
}
.meet-work-button {
	margin: 27px auto 26px auto;
	border-radius: 30px;
	background-color: #54d154;
	color: #ffffff;
	width: 175px;
	font-size: 16px;
	font-weight: 700;
	box-sizing: border-box;
	padding: 8px 0 5px 0;
	outline: none;
    border: none;
	transition: all 500ms ease;
}
.meet-work-button:hover {
	background-color: #000080;
}
.meet-work-button:active {
	background-color: #800000;
}
/*===================  ABOUT US all =================*/
.about-all {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #333333;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.about {
	width: 314px;
	margin: 0px 34px 0px 38px;
	padding: 0px 0px 0px 0px;
}
.about-title {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 3.1px;
	color: #dddddd;
	padding: 0px 0px 0px 0px;
	margin: 28px auto 0 auto;
}
.about-l {
	width: 30px;
	height: 2px;
	background-color: #dddddd;
	display: block;
	margin: 4px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.about-text {
	/*width: 314px;*/
	color: #cccccc;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.26px;
	margin: 20px auto auto auto;
	padding: 0px 0px 0px 0px;
}
.about-button {
	width: 84px;
	background-color: #c5e9c5;
	border-radius: 14px;
	margin: 25px auto 0px auto;
	padding: 4px 0px 0px 0px;
}
.recent {
	width: 314px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 8px;
}
.recent-title {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 3.1px;
	color: #dddddd;
	padding: 0px 0px 0px 0px;
	margin: 28px auto 0 auto;
}
.recent-l {
	width: 30px;
	height: 2px;
	background-color: #dddddd;
	display: block;
	margin: 4px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
/*========*/
.post-all {
	margin: 18px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.post {
	display: flex;
	justify-content: center;
	margin: 12px 0px 0px 3px;
	padding: 0px 0px 0px 0px;
}
.post-img {
	width: 53px;
	height: 53px;
	margin: auto auto auto auto;
	padding: 0px 0px 0px 0px;
}
.post-t {
	margin: 0px auto 0 0;
	padding: 5px 0px 0px 8px;
}
.post-title-1 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.85px;
	color: #cccccc;
	padding: 0px 0px 0px 0px;
	margin: 0px auto 0 0px;
}
.post-title-2 {
	font-size: 13px;
	font-weight: 300;
	letter-spacing: 0.01px;
	color: #ffffff;
	padding: 1px 0px 0px 0px;
	margin: 0px auto 2px 5px;
}
.post-fon-1 {
	width: 81px;
	background: #54d154;
	margin: 3px 0 0 0;
	padding: 0px 0px 0px 0px;
	display: flex;
	border-radius: 2px;
}
.post-fon-2 {
	width: 77px;
	background: #ffba00;
	margin: 3px 0 0 0;
	padding: 0px 0px 0px 0px;
	display: flex;
	border-radius: 2px;
}
.post-fon-3 {
	width: 107px;
	background: #089dea;
	margin: 3px 0 0 0;
	padding: 0px 0px 0px 0px;
	display: flex;
	border-radius: 2px;
}
.post-fon-4 {
	width: 47px;
	background: #f34d04;
	margin: 3px 0 0 0;
	padding: 0px 0px 0px 0px;
	display: flex;
	border-radius: 2px;
}
.post-fon-5 {
	width: 77px;
	background: #ffba00;
	margin: 3px 0 0 0;
	padding: 0px 0px 0px 0px;
	display: flex;
	border-radius: 2px;
}
/*========*/

.contact {
	width: 320px;
	margin: 0px auto 31px auto;
	padding: 0px 0px 0px 0px;
}
.contact-title {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 3.1px;
	color: #dddddd;
	padding: 0px 0px 0px 0px;
	margin: 28px auto 0 auto;
}
.contact-l {
	width: 30px;
	height: 2px;
	background-color: #dddddd;
	display: block;
	margin: 4px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.contact-text {
	/*width: 200px;*/
	color: #cccccc;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.01px;
	margin: 14px auto auto auto;
	padding: 0px 0px 0px 0px;
}
.form {
	width: 322px;
	margin: 29px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.name {
	width: 313px;
	height: 33px;
	color: #777777;
	font-size: 16px;
	font-weight: 400;
	background-color: #444444;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	border-radius: 5px 5px 0 0;
	border: none;
	border-bottom: 2px solid #333333;
}
.email {
	width: 313px;
	height: 31px;
	color: #777777;
	font-size: 16px;
	font-weight: 400;
	background-color: #444444;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	border: none;
	border-bottom: 2px solid #333333;
}
.masage {
	width: 313px;
	height: 131px;
	color: #777777;
	font-size: 16px;
	font-weight: 400;
	background-color: #444444;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	border: none;
	border-bottom: 2px solid #333333;
}
.send {
	width: 325px;
	height: 31px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	background-color: #2b9b2b;
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 12px;
	border-radius: 0px 0px 5px 5px;
	border: none;
}
/*===================  AS SEEN ON  ==================*/
.seen {
	width: 100%;
	background: #222222;
}
.seen-all {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.seen-title {
	color: #101010;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2.49px;
	margin: 23px auto 0px auto;
	padding: 0px 0px 0px 13px;
}
.seen-l {
	width: 30px;
	height: 2px;
	background-color: #101010;
	display: block;
	margin: 3px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.news-all {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%; /*1090px;*/
	box-sizing: border-box;
	margin: 25px auto 0px auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.news {
	overflow: hidden;
	margin: 0 0px 29px 60px;
	padding: 0px 0px 0px 0px;
}
.news-img {
	margin: 0px 51px 0px 41px;
	padding: 0px 0px 0px 0px;
}
/*============= made ===============*/
.made-all {
	width: 100%;
	height: 35px;
	background: #111111;
}
.made{
	display: flex;
	justify-content: space-between;
	width: 182px;
	box-sizing: border-box;
	margin: 0px auto 0px auto;
	padding: 8px 0px 0px 0px;
	text-align: center;
}
.made-title {
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.made-img {
	width: 14px;
	height: 13px;
	margin: 3px auto 0 6px;
	padding: 0px 0px 0px 0px;
}
.made-by {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;